<!-- THIS CODE IS FROZEN — NO CHANGES TO THIS CODE ARE ALLOWED WITHOUT THE OWNER'S PERMISSION
BINGO: Orchestration Bar + Instruction Embed — commit PENDING -->
{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {% include "admin/dose/instruction/param_samples_script.html" %}
    {{ block.super }}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/instruction_atomic_service.js' %}"></script>
{% endblock %}
