TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=chat-olient

MM_IMAGE=mattermost/mattermost-team-edition:9
MM_PORT=8065

DB_HOST=mm-db
DB_PORT=5432
DB_NAME=mattermost
DB_USER=mm
DB_PASSWORD=change_me

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
