TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=cloud-olient

NEXTCLOUD_IMAGE=nextcloud:30-apache
NEXTCLOUD_PORT=80

DB_HOST=nextcloud-db
DB_PORT=5432
DB_NAME=nextcloud
DB_USER=nextcloud
DB_PASSWORD=change_me

REDIS_HOST=nextcloud-redis
REDIS_PORT=6379

ONLYOFFICE_IMAGE=onlyoffice/documentserver:8

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
