{
  "name": "Staging Environment",
  "host": "YOUR_HOST_HERE",
  "protocol": "sftp",
  "port": 65002,
  "username": "YOUR_USERNAME_HERE",
  "password": "YOUR_PASSWORD_HERE",
  "remotePath": "/home/YOUR_USERNAME_HERE/domains/YOUR_DOMAIN_HERE/public_html",
  "interactiveAuth": true,
  "ignore": [
    ".vscode",
    ".git",
    ".DS_Store",
    "wp-content/uploads/**",
    "wp-content/cache/**",
    "*.log"
  ]
}
