TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=odoo-olient

ODOO_IMAGE=odoo:18.0
ODOO_HOST=0.0.0.0
ODOO_PORT=8069

DB_KIND=postgres
DB_HOST=odoo-db
DB_PORT=5432
DB_NAME=odoo
DB_USER=odoo
DB_PASSWORD=change_me

ODOO_ADMIN_PASSWORD=change_me

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
