TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=erp-olient

DOLIBARR_PORT=80

DB_HOST=dolibarr-db
DB_PORT=3306
DB_NAME=dolibarr
DB_USER=dolibarr
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
