TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=portal-olient

LIFERAY_IMAGE=liferay/portal:7.4.3.112-ga112
LIFERAY_HTTP_PORT=8080

DB_HOST=liferay-db
DB_PORT=5432
DB_NAME=liferay
DB_USER=liferay
DB_PASSWORD=change_me

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
