TENANT_SLUG=olient
DOMAIN=example.com
SUBDOMAIN=wp-olient

WP_ENV=production
WP_HOME=https://${SUBDOMAIN}.${DOMAIN}
WP_SITEURL=${WP_HOME}/wp

DB_HOST=wp-db
DB_PORT=3306
DB_NAME=wordpress
DB_USER=wp
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me

AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

TRAEFIK_NETWORK=proxy
TRAEFIK_ENABLE=true
